.mock-ui-section {
  background-color: white;
  min-height: 120px;
  padding: 10px; }
  .mock-ui-section:nth-child(odd) {
    background-color: #f2f2f2;; }

body {
  background-color: Red;
  color: white;
  font-size: 48px; }
